      <!-- Gooogle Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
      <!-- Stylesheet -->
    <link rel='stylesheet' href='/Circular-Progressbar/styleCircular.css' type="text/css" media="screen" />
    <!--<link rel="stylesheet" href="/Circular-Progressbar/styleNslider.css" type="text/css" media="screen" /> --> 
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js'></script>

    <script>

$(function() {

$("#slider").draggable({
  axis: 'x',
  containment: 'parent',
  drag: function(event, ui) {
    if (ui.position.left > 550) {
      $("#well").fadeOut();
    } else {
        // Apparently Safari isn't allowing partial opacity on text with background clip? Not sure.
      // $("h2 span").css("opacity", 100 - (ui.position.left / 5))
    }
  },
  stop: function(event, ui) {
    if (ui.position.left < 551) {
      $(this).animate({
        left: 0
      })
    }
  }
});

// The following credit: http://www.evanblack.com/blog/touch-slide-to-unlock/

$('#slider')[0].addEventListener('touchmove', function(event) {
    event.preventDefault();
    var el = event.target;
    var touch = event.touches[0];
    curX = touch.pageX - this.offsetLeft - 73;
    if(curX <= 0) return;
    if(curX > 550){
      $('#well').fadeOut();
    }
     el.style.webkitTransform = 'translateX(' + curX + 'px)'; 
}, false);

$('#slider')[0].addEventListener('touchend', function(event) {	
    this.style.webkitTransition = '-webkit-transform 0.3s ease-in';
    this.addEventListener( 'webkitTransitionEnd', function( event ) { this.style.webkitTransition = 'none'; }, false );
    this.style.webkitTransform = 'translateX(0px)';
}, false);

});
    </script>




    <section class="section">
      <header class="section__header">
        <h2 class="section__title">Projects</h2>
        <div class="section__control">
          <button
            class="section__button focus--box-shadow"
            type="button"
            aria-label="Filter projects"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              role="presentation"
            >
              <path
                d="M20,8.18V3a1,1,0,0,0-2,0V8.18a3,3,0,0,0,0,5.64V21a1,1,0,0,0,2,0V13.82a3,3,0,0,0,0-5.64ZM19,12a1,1,0,1,1,1-1A1,1,0,0,1,19,12Zm-6,2.18V3a1,1,0,0,0-2,0V14.18a3,3,0,0,0,0,5.64V21a1,1,0,0,0,2,0V19.82a3,3,0,0,0,0-5.64ZM12,18a1,1,0,1,1,1-1A1,1,0,0,1,12,18ZM6,6.18V3A1,1,0,0,0,4,3V6.18a3,3,0,0,0,0,5.64V21a1,1,0,0,0,2,0V11.82A3,3,0,0,0,6,6.18ZM5,10A1,1,0,1,1,6,9,1,1,0,0,1,5,10Z"
              />
            </svg>
          </button>
          <button
            class="section__button section__button--painted focus--box-shadow"
            type="button"
            aria-label="Add New project"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              role="presentation"
            >
              <path
                d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"
              />
            </svg>
          </button>
        </div>


      </header>

      <div class="container">
        <div class="row">
          <div class="column1">
            <h5>Your usage</h5>
            <br>
            <p1><b>kW used:</b> 237</p1>
            <p1><b>Km left today:</b> 37</p1>
            <br>
            <p1><b>Lowest price / kWh</b></p1>
            
    
            <p1><b>Status:</b> Active</p1> 
          </div>
          <div class="column2">
            <h5>Schedule settings</h5>
            <br>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div>
        </div>

        
      </div>

  <div class="team__inform">

    <button class="buttonStart"> </button>
    
    <div class="circular-progress">
      <div class="value-container">0%</div>
  </div>  
  <br>
    <p id="currentDateTime"> </p>

    <br>
    <h2 id="chargingText">HOVER ME</h2>
    
    
    <br>
  </div>

  <div id="well">
			
    <h3><strong id="slider"></strong> <span>slide to charge</span></h3>
    
  </div>
</section>


<section>
<!--  
      <ul class="team">
        <li class="team__item">
          <a class="team__link focus--box-shadow" href="#">
            <div class="team__header">
              <ul class="photo">
                <li class="photo__item">
                  <span class="photo__substrate">+2</span>
                </li>
                <li class="photo__item">
                  <img
                    src="/Dashboard/img/julian-wan-WNoLnJo7tS8-unsplash.jpg"
                    alt="Jack's photo"
                  />
                </li>
                <li class="photo__item">
                  <img
                    src="/Dashboard/img/seth-doyle-uJ8LNVCBjFQ-unsplash.jpg"
                    alt="Jessica's photo"
                  />
                </li>
              </ul>
              <button
                class="setting setting--absolute focus--box-shadow"
                type="button"
              >
                <svg
                  enable-background="new 0 0 515.555 515.555"
                  height="512"
                  viewBox="0 0 515.555 515.555"
                  width="512"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="m303.347 18.875c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                  />
                  <path
                    d="m303.347 212.209c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                  />
                  <path
                    d="m303.347 405.541c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                  />
                </svg>
              </button>
            </div>

            <div class="team__inform">
              <button class="buttonStart"> </button>
              <div class="circular-progress">
                <div class="value-container">0%</div>
            </div>  
            <br>
              <time class="date" datetime="2020-05-05T10:00:00"
                >05 May, 2020</time
              >
              <br>
              <h2 id="chargingText">HOVER ME</h2>
              
              
              <br>
            </div>
          </a>
        </li>

      
        <li class="team__item">
          <a class="team__link focus--box-shadow" href="#">
            <div class="team__header">
              <ul class="photo">
                <li class="photo__item">
                  <span class="photo__substrate">+6</span>
                </li>
                <li class="photo__item">
                  <img
                    src="/Dashboard/img/raychan-9UkAHVs5y7Y-unsplash.jpg"
                    alt="Yulia's photo"
                  />
                </li>
                <li class="photo__item">
                  <img
                    src="/Dashboard/img/seth-doyle-uJ8LNVCBjFQ-unsplash.jpg"
                    alt="Jessica's photo"
                  />
                </li>
              </ul>
              <button
                class="setting setting--absolute focus--box-shadow"
                type="button"
              >
                <svg
                  enable-background="new 0 0 515.555 515.555"
                  height="512"
                  viewBox="0 0 515.555 515.555"
                  width="512"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="m303.347 18.875c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                  />
                  <path
                    d="m303.347 212.209c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                  />
                  <path
                    d="m303.347 405.541c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"
                  />
                </svg>
              </button>
            </div>
            <div class="team__inform">
              <p class="team__name">New project</p>
              <time class="date" datetime="2020-05-01T10:00:00"
                >01 May, 2020</time
              >
            </div>
          </a>
        </li>

      </ul>
-->
</section>

</section>

    
<!-- Slider: Slide to ounlock -->
	<div id="page-wrap">


			
	</div>



<script>
       window.addEventListener("load", function() {

        const script1 = this.document.createElement("script");
        script1.src = "/Circular-Progressbar/scriptCircular.js";
        this.document.body.appendChild(script1);

        /* -- ! script2 is used in layout ! -- */
        const script3 = this.document.createElement("script");
        script3.src = '/SlideToUnlock/js/slidetounlock.js';
        this.document.body.appendChild(script3);
        

        const script4 = this.document.createElement("script");
        script4.src = "/Dashboard/testAPI.js";
        this.document.body.appendChild(script4);

        
        

        /* 
        const script5 = this.document.createElement("script");
        script5.src = "/Circular-Progressbar/nSlider.js";
        this.document.body.appendChild(script5);
        */

      });

</script>