


      <!-- Gooogle Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
      <!-- Stylesheet -->
    <link rel='stylesheet' href='/Circular-Progressbar/styleCircular.css' type="text/css" media="screen" />
    <!--<link rel="stylesheet" href="/Circular-Progressbar/styleNslider.css" type="text/css" media="screen" /> --> 




<section class="section">
  <%- include('./partials/messages') %>
    <ul class="project">
        <li class="project_item">
            <div class="project__link">
              
              <!-- Form name -->
              <form action='/users/register' method="POST">

              <div class="colMod">
                <input type="name" name="nameF" class="form-control" placeholder="Enter First name" value="<% typeof nameF != 'undefined' ? nameF : '' %>">
              </div>
              <!---->
              <div class="colMod">
                <input type="name" name="nameL" class="form-control" placeholder="Enter Last name" value="<% typeof nameL != 'undefined' ? nameL : '' %>">
              </div>

              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" value="<% typeof email != 'undefined' ? email : '' %>">
              </div>

              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" class="form-control" value="<% typeof password != 'undefined' ? password : '' %>">
              </div>

              <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password2" class="form-control" value="<% typeof password2 != 'undefined' ? password2 : '' %>">
              </div>

              <button type="submit" class="banner__button">Create account</button>
              </form>
              
              
              <hr><br><br>
              <p>Have an account? <a href="/users/login">Login</a></p>
            </div>


        </li>
    </ul>
</section>  












<script>
       window.addEventListener("load", function() {
        /* 
        const script1 = this.document.createElement("script");
        script1.src = "/Circular-Progressbar/scriptCircular.js";
        this.document.body.appendChild(script1);
        */

        /* -- ! script2 is used in layout ! --   */

      });

</script>